<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>1758微游戏</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="cache" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="apple-touch-icon" href="http://images.1758.com/image/20161024/open_1_8c3d991aa83e5885fe54a25245a646f8.jpg" sizes="152x152">
    <link rel="shortcut icon " href="http://images.1758.com/images/48.ico">
    <link href="http://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://wx.1758.com/static/m/dist/index/css/index_1_0_2.css">
   

    <link rel="stylesheet" type="text/css" href="http://wx.1758.com/static/m/dist/category/js/category_1_0_4.js">

</head>

<body>
	<div id="app">
		<router-view></router-view>
	</div>


</body>

</html>